/* styles.css */
html{
	background: #fdead7;
background: radial-gradient(circle, #f7f3f080 0%, #feccde 100%);
}


h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rosybrown; 
  font-size: 5em; 
}

h2{
   font-family: "DM Mono", monospace
  font-weight: 400;
  font-style: normal;
  color:rgb(223, 190, 190); 
  font-size: 50px; 
}

pre {
   font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color:#f7a5c3;
}

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
  color:#f7a5c3;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

div {
	font-size: 30px;
	color:#ffdab9;
	font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}